<section style="background:#efefe9;">
  <div class="container">
    
      <!-- Navigation Area (Circular Tabs) -->
      <app-navbar></app-navbar>
      <!-- End Navigation Area (Circular Tabs) -->

      <!-- Content Area -->
      <div class="wrapper ">
        <!-- Routed view  -->
        <router-outlet></router-outlet>
      </div>
      <!-- End Content Area -->
    </div>

    <!-- For Debugging: show our formData as it is being typed -->
    <!-- <pre style="height: 100px;">{{ formData | json }}</pre> -->
  
</section>